:root {
    --white: oklch(100% 0.00011 271.152);
    --pink: oklch(86.773% 0.07354 7.009);
    --red: oklch(62.793% 0.25768 29.223);
    --blue: oklch(75.536% 0.15349 231.667);
    --grey: oklch(82.535% 0.01262 280.972);
    --dark: oklch(37.799% 0.05329 277.881);
    --coal: oklch(14.479% 0.00002 271.152);
    --black: oklch(0% 0 0);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Segoe UI";
    background: var(--coal);
    color: var(--white);
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background: var(--dark);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    appearance: button;
    display: grid;
    align-items: center;
}

.btn svg {
    margin-right: 8px;
}

.btn:hover {
    transform: scale(0.98);
}

.btn__reverse {
    background: var(--white);
    color: var(--black);
}

.btn__block {
    width: 100%;
    margin-bottom: 20px;
}

.btn__small {
    padding: 5px 15px;
    font-size: 13px;
}

.btn__danger {
    background: var(--red);
    border: none;
}

.btn__back {
    width: 150px;
    margin-bottom: 20px;
}





